In [1]:
# import libraries
import pandas as pd
import requests
pd.set_option('display.max_columns', None)  # so we can see all columns in a wide DataFrame
import time
import numpy as np
# import matplotlib.pyplot as plt

In [2]:
# set the URLs for the dataframes
stats_23 = 'https://www.atptour.com/en/-/www/individualmatchstats/2023/all/all/Aces/percentage/desc/1/1000'
stats_24 = 'https://www.atptour.com/en/-/www/individualmatchstats/2024/all/all/Aces/percentage/desc/1/1000'

In [3]:
# get the stats api request
r23 = requests.get(url=stats_23).json()
r24 = requests.get(url=stats_24).json()

In [4]:
# put it to a dataframe and see the data
df23 = pd.DataFrame(r23['StatsList'])
df24 = pd.DataFrame(r24['StatsList'])
df23

,Number,PlayerId,LastName,FirstName,NatlId,PlayerHeadshotImageCmsUrl,PlayerScRelativeUrlPlayerProfile,PlayerScRelativeUrlPlayerCountryFlag,Percentage,Matches
0,"1,031",HB71,Hurkacz,Hubert,POL,/-/media/alias/player-headshot/hb71,/en/players/hubert-hurkacz/hb71/overview,/en/~/media/images/flags/pol.svg,0.00%,69
1,692,FB98,Fritz,Taylor,USA,/-/media/alias/player-headshot/fb98,/en/players/taylor-fritz/fb98/overview,/en/~/media/images/flags/usa.svg,0.00%,77
2,616,RE44,Rublev,Andrey,RUS,/-/media/alias/player-headshot/re44,/en/players/andrey-rublev/re44/overview,/en/~/media/images/flags/rus.svg,0.00%,82
3,613,Z355,Zverev,Alexander,GER,/-/media/alias/player-headshot/z355,/en/players/alexander-zverev/z355/overview,/en/~/media/images/flags/ger.svg,0.00%,80
4,547,TE51,Tsitsipas,Stefanos,GRE,/-/media/alias/player-headshot/te51,/en/players/stefanos-tsitsipas/te51/overview,/en/~/media/images/flags/gre.svg,0.00%,71
...,...,...,...,...,...,...,...,...,...,...
195,17,MH30,Millman,John,AUS,/-/media/alias/player-headshot/mh30,/en/players/john-millman/mh30/overview,/en/~/media/images/flags/aus.svg,0.00%,4
196,17,T0AP,Tseng,Chun-Hsin,TPE,/-/media/alias/player-headshot/t0ap,/en/players/chun-hsin-tseng/t0ap/overview,/en/~/media/images/flags/tpe.svg,0.00%,6
197,16,HD68,Harris,Billy,GBR,/-/media/alias/player-headshot/hd68,/en/players/billy-harris/hd68/overview,/en/~/media/images/flags/gbr.svg,0.00%,2
198,16,K0DP,Krutykh,Oleksii,UKR,/-/media/alias/player-headshot/k0dp,/en/players/oleksii-krutykh/k0dp/overview,/en/~/media/images/flags/ukr.svg,0.00%,3
199,16,D0CG,Diaz Acosta,Facundo,ARG,/-/media/alias/player-headshot/d0cg,/en/players/facundo-diaz-acosta/d0cg/overview,/en/~/media/images/flags/arg.svg,0.00%,6

In [5]:
# remove specific columns from both dataframes
columns_to_remove = ['PlayerHeadshotImageCmsUrl', 'PlayerScRelativeUrlPlayerProfile', 'PlayerScRelativeUrlPlayerCountryFlag']
df_cleaned_23 = df23.drop(columns=columns_to_remove)
df_cleaned_24 = df24.drop(columns=columns_to_remove)

In [6]:
# see cleaned dataframes
df_cleaned_23

    Number PlayerId     LastName  FirstName NatlId Percentage  Matches
0    1,031     HB71      Hurkacz     Hubert    POL      0.00%       69
1      692     FB98        Fritz     Taylor    USA      0.00%       77
2      616     RE44       Rublev     Andrey    RUS      0.00%       82
3      613     Z355       Zverev  Alexander    GER      0.00%       80
4      547     TE51    Tsitsipas   Stefanos    GRE      0.00%       71
..     ...      ...          ...        ...    ...        ...      ...
195     17     MH30      Millman       John    AUS      0.00%        4
196     17     T0AP        Tseng  Chun-Hsin    TPE      0.00%        6
197     16     HD68       Harris      Billy    GBR      0.00%        2
198     16     K0DP      Krutykh    Oleksii    UKR      0.00%        3
199     16     D0CG  Diaz Acosta    Facundo    ARG      0.00%        6

[200 rows x 7 columns]

In [7]:
# concatenate the dataframe to be organized by playerid
df_combined = pd.merge(df_cleaned_23, df_cleaned_24, on='PlayerId', how='outer', suffixes=('_23', '_24'))

In [8]:
# see the concatenated dataframe
df_combined

,Number_23,PlayerId,LastName_23,FirstName_23,NatlId_23,Percentage_23,Matches_23,Number_24,LastName_24,FirstName_24,NatlId_24,Percentage_24,Matches_24
0,NaN,A0CJ,NaN,NaN,NaN,NaN,NaN,0,Ajdukovic,Duje,CRO,0.00%,0.0
1,302,A0E2,Alcaraz,Carlos,ESP,0.00%,77.0,37,Alcaraz,Carlos,ESP,0.00%,9.0
2,167,A0FC,Arnaldi,Matteo,ITA,0.00%,31.0,98,Arnaldi,Matteo,ITA,0.00%,10.0
3,NaN,A0G8,NaN,NaN,NaN,NaN,NaN,0,Elsayed,Amr,EGY,0.00%,0.0
4,28,A0GC,Atmane,Terence,FRA,0.00%,4.0,25,Atmane,Terence,FRA,0.00%,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,33,Z09Z,Zhukayev,Beibit,KAZ,0.00%,3.0,NaN,NaN,NaN,NaN,NaN,NaN
247,22,Z0A1,Zeppieri,Giulio,ITA,0.00%,4.0,49,Zeppieri,Giulio,ITA,0.00%,4.0
248,613,Z355,Zverev,Alexander,GER,0.00%,80.0,147,Zverev,Alexander,GER,0.00%,14.0
249,213,Z371,Zhang,Zhizhen,CHN,0.00%,36.0,55,Zhang,Zhizhen,CHN,0.00%,11.0
250,73,Z419,Zapata Miralles,Bernabe,ESP,0.00%,41.0,10,Zapata Miralles,Bernabe,ESP,0.00%,7.0

In [9]:
# fill NaN values to 0 then see the dataframe
df_combined = df_combined.fillna(0)
df_combined

,Number_23,PlayerId,LastName_23,FirstName_23,NatlId_23,Percentage_23,Matches_23,Number_24,LastName_24,FirstName_24,NatlId_24,Percentage_24,Matches_24
0,0,A0CJ,0,0,0,0,0.0,0,Ajdukovic,Duje,CRO,0.00%,0.0
1,302,A0E2,Alcaraz,Carlos,ESP,0.00%,77.0,37,Alcaraz,Carlos,ESP,0.00%,9.0
2,167,A0FC,Arnaldi,Matteo,ITA,0.00%,31.0,98,Arnaldi,Matteo,ITA,0.00%,10.0
3,0,A0G8,0,0,0,0,0.0,0,Elsayed,Amr,EGY,0.00%,0.0
4,28,A0GC,Atmane,Terence,FRA,0.00%,4.0,25,Atmane,Terence,FRA,0.00%,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,33,Z09Z,Zhukayev,Beibit,KAZ,0.00%,3.0,0,0,0,0,0,0.0
247,22,Z0A1,Zeppieri,Giulio,ITA,0.00%,4.0,49,Zeppieri,Giulio,ITA,0.00%,4.0
248,613,Z355,Zverev,Alexander,GER,0.00%,80.0,147,Zverev,Alexander,GER,0.00%,14.0
249,213,Z371,Zhang,Zhizhen,CHN,0.00%,36.0,55,Zhang,Zhizhen,CHN,0.00%,11.0
250,73,Z419,Zapata Miralles,Bernabe,ESP,0.00%,41.0,10,Zapata Miralles,Bernabe,ESP,0.00%,7.0

In [10]:
# add a new column to the dataframe
df_combined['AcePerMat_23'] = 0.0
df_combined['AcePerMat_24'] = 0.0
df_combined

,Number_23,PlayerId,LastName_23,FirstName_23,NatlId_23,Percentage_23,Matches_23,Number_24,LastName_24,FirstName_24,NatlId_24,Percentage_24,Matches_24,AcePerMat_23,AcePerMat_24
0,0,A0CJ,0,0,0,0,0.0,0,Ajdukovic,Duje,CRO,0.00%,0.0,0.0,0.0
1,302,A0E2,Alcaraz,Carlos,ESP,0.00%,77.0,37,Alcaraz,Carlos,ESP,0.00%,9.0,0.0,0.0
2,167,A0FC,Arnaldi,Matteo,ITA,0.00%,31.0,98,Arnaldi,Matteo,ITA,0.00%,10.0,0.0,0.0
3,0,A0G8,0,0,0,0,0.0,0,Elsayed,Amr,EGY,0.00%,0.0,0.0,0.0
4,28,A0GC,Atmane,Terence,FRA,0.00%,4.0,25,Atmane,Terence,FRA,0.00%,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,33,Z09Z,Zhukayev,Beibit,KAZ,0.00%,3.0,0,0,0,0,0,0.0,0.0,0.0
247,22,Z0A1,Zeppieri,Giulio,ITA,0.00%,4.0,49,Zeppieri,Giulio,ITA,0.00%,4.0,0.0,0.0
248,613,Z355,Zverev,Alexander,GER,0.00%,80.0,147,Zverev,Alexander,GER,0.00%,14.0,0.0,0.0
249,213,Z371,Zhang,Zhizhen,CHN,0.00%,36.0,55,Zhang,Zhizhen,CHN,0.00%,11.0,0.0,0.0
250,73,Z419,Zapata Miralles,Bernabe,ESP,0.00%,41.0,10,Zapata Miralles,Bernabe,ESP,0.00%,7.0,0.0,0.0

In [11]:
# initalize the AcePerMat_23 column
for index, row in df_combined.iterrows():
    # check if the values are convertible to float
    try:
        number_value = float(row['Number_23'])
        matches_value = float(row['Matches_23'])
    except ValueError:
        # handle the case where conversion is not possible
        continue

    # perform the calculation and update the 'AcePerMat_23' column
    if matches_value != 0:  # avoid division by zero
        df_combined.at[index, 'AcePerMat_23'] = number_value / matches_value
    else:
        df_combined.at[index, 'AcePerMat_23'] = 0  # or handle this case as per your requirement

# display the dataframe
df_combined

,Number_23,PlayerId,LastName_23,FirstName_23,NatlId_23,Percentage_23,Matches_23,Number_24,LastName_24,FirstName_24,NatlId_24,Percentage_24,Matches_24,AcePerMat_23,AcePerMat_24
0,0,A0CJ,0,0,0,0,0.0,0,Ajdukovic,Duje,CRO,0.00%,0.0,0.000000,0.0
1,302,A0E2,Alcaraz,Carlos,ESP,0.00%,77.0,37,Alcaraz,Carlos,ESP,0.00%,9.0,3.922078,0.0
2,167,A0FC,Arnaldi,Matteo,ITA,0.00%,31.0,98,Arnaldi,Matteo,ITA,0.00%,10.0,5.387097,0.0
3,0,A0G8,0,0,0,0,0.0,0,Elsayed,Amr,EGY,0.00%,0.0,0.000000,0.0
4,28,A0GC,Atmane,Terence,FRA,0.00%,4.0,25,Atmane,Terence,FRA,0.00%,2.0,7.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,33,Z09Z,Zhukayev,Beibit,KAZ,0.00%,3.0,0,0,0,0,0,0.0,11.000000,0.0
247,22,Z0A1,Zeppieri,Giulio,ITA,0.00%,4.0,49,Zeppieri,Giulio,ITA,0.00%,4.0,5.500000,0.0
248,613,Z355,Zverev,Alexander,GER,0.00%,80.0,147,Zverev,Alexander,GER,0.00%,14.0,7.662500,0.0
249,213,Z371,Zhang,Zhizhen,CHN,0.00%,36.0,55,Zhang,Zhizhen,CHN,0.00%,11.0,5.916667,0.0
250,73,Z419,Zapata Miralles,Bernabe,ESP,0.00%,41.0,10,Zapata Miralles,Bernabe,ESP,0.00%,7.0,1.780488,0.0

In [12]:
# initalize the AcePerMat_24 column
for index, row in df_combined.iterrows():
    try:
        number_value = float(row['Number_24'])
        matches_value = float(row['Matches_24'])
    except ValueError:
        continue

    if matches_value != 0:
        df_combined.at[index, 'AcePerMat_24'] = number_value / matches_value
    else:
        df_combined.at[index, 'AcePerMat_24'] = 0

df_combined

,Number_23,PlayerId,LastName_23,FirstName_23,NatlId_23,Percentage_23,Matches_23,Number_24,LastName_24,FirstName_24,NatlId_24,Percentage_24,Matches_24,AcePerMat_23,AcePerMat_24
0,0,A0CJ,0,0,0,0,0.0,0,Ajdukovic,Duje,CRO,0.00%,0.0,0.000000,0.000000
1,302,A0E2,Alcaraz,Carlos,ESP,0.00%,77.0,37,Alcaraz,Carlos,ESP,0.00%,9.0,3.922078,4.111111
2,167,A0FC,Arnaldi,Matteo,ITA,0.00%,31.0,98,Arnaldi,Matteo,ITA,0.00%,10.0,5.387097,9.800000
3,0,A0G8,0,0,0,0,0.0,0,Elsayed,Amr,EGY,0.00%,0.0,0.000000,0.000000
4,28,A0GC,Atmane,Terence,FRA,0.00%,4.0,25,Atmane,Terence,FRA,0.00%,2.0,7.000000,12.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,33,Z09Z,Zhukayev,Beibit,KAZ,0.00%,3.0,0,0,0,0,0,0.0,11.000000,0.000000
247,22,Z0A1,Zeppieri,Giulio,ITA,0.00%,4.0,49,Zeppieri,Giulio,ITA,0.00%,4.0,5.500000,12.250000
248,613,Z355,Zverev,Alexander,GER,0.00%,80.0,147,Zverev,Alexander,GER,0.00%,14.0,7.662500,10.500000
249,213,Z371,Zhang,Zhizhen,CHN,0.00%,36.0,55,Zhang,Zhizhen,CHN,0.00%,11.0,5.916667,5.000000
250,73,Z419,Zapata Miralles,Bernabe,ESP,0.00%,41.0,10,Zapata Miralles,Bernabe,ESP,0.00%,7.0,1.780488,1.428571

In [13]:
# create a new column for Ace Improvement
df_combined['AceImpr'] = 0.00

# create a for loop to initalize the AceImpr column
for index, row in df_combined.iterrows():
    try:
        apm23 = float(row['AcePerMat_23'])
        apm24 = float(row['AcePerMat_24'])
    except ValueError:
        continue

    if apm23 != 0:
        df_combined.at[index, 'AceImpr'] = ((apm24 / apm23) * 100) - 100    # calculate the percentage of improvement
        if df_combined.at[index, 'AcePerMat_24'] < df_combined.at[index, 'AcePerMat_23']:
            -abs(df_combined.at[index, 'AceImpr'])      # if 2024 stat is lower that means there is a negative improvement
    else:
        df_combined.at[index, 'AceImpr'] = 0





# set the column up to display percentage
df_combined['AceImpr'] = df_combined['AceImpr'].map('{:.2f}%'.format)

df_combined

,Number_23,PlayerId,LastName_23,FirstName_23,NatlId_23,Percentage_23,Matches_23,Number_24,LastName_24,FirstName_24,NatlId_24,Percentage_24,Matches_24,AcePerMat_23,AcePerMat_24,AceImpr
0,0,A0CJ,0,0,0,0,0.0,0,Ajdukovic,Duje,CRO,0.00%,0.0,0.000000,0.000000,0.00%
1,302,A0E2,Alcaraz,Carlos,ESP,0.00%,77.0,37,Alcaraz,Carlos,ESP,0.00%,9.0,3.922078,4.111111,4.82%
2,167,A0FC,Arnaldi,Matteo,ITA,0.00%,31.0,98,Arnaldi,Matteo,ITA,0.00%,10.0,5.387097,9.800000,81.92%
3,0,A0G8,0,0,0,0,0.0,0,Elsayed,Amr,EGY,0.00%,0.0,0.000000,0.000000,0.00%
4,28,A0GC,Atmane,Terence,FRA,0.00%,4.0,25,Atmane,Terence,FRA,0.00%,2.0,7.000000,12.500000,78.57%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,33,Z09Z,Zhukayev,Beibit,KAZ,0.00%,3.0,0,0,0,0,0,0.0,11.000000,0.000000,-100.00%
247,22,Z0A1,Zeppieri,Giulio,ITA,0.00%,4.0,49,Zeppieri,Giulio,ITA,0.00%,4.0,5.500000,12.250000,122.73%
248,613,Z355,Zverev,Alexander,GER,0.00%,80.0,147,Zverev,Alexander,GER,0.00%,14.0,7.662500,10.500000,37.03%
249,213,Z371,Zhang,Zhizhen,CHN,0.00%,36.0,55,Zhang,Zhizhen,CHN,0.00%,11.0,5.916667,5.000000,-15.49%
250,73,Z419,Zapata Miralles,Bernabe,ESP,0.00%,41.0,10,Zapata Miralles,Bernabe,ESP,0.00%,7.0,1.780488,1.428571,-19.77%

In [14]:
# create a new dataframe
final_df = pd.DataFrame()

# add last name to dataframe
final_df['LastName'] = df_combined['LastName_23']

# add first name to dataframe
final_df['FirstName'] = df_combined['FirstName_23']

# add aces in 2023
final_df['Aces_23'] = df_combined['Number_23']

# add matches in 2023
final_df['Matches_23'] = df_combined['Matches_23']

# add aces per match in 2023
final_df['AcePerMat_23'] = df_combined['AcePerMat_23']
final_df['AcePerMat_23'] = final_df['AcePerMat_23'].round(2)

# add aces in 2024
final_df['Aces_24'] = df_combined['Number_24']

# add matches in 2024
final_df['Matches_24'] = df_combined['Matches_24']

# add aces per match in 2024
final_df['AcePerMat_24'] = df_combined['AcePerMat_24']
final_df['AcePerMat_24'] = final_df['AcePerMat_24'].round(2)

# add ace improvement
final_df['AceImpr'] = df_combined['AceImpr']

columns_to_check = ['LastName']
final_df = final_df[(final_df != 0).all(axis=1)]

# see dataframe
final_df

,LastName,FirstName,Aces_23,Matches_23,AcePerMat_23,Aces_24,Matches_24,AcePerMat_24,AceImpr
1,Alcaraz,Carlos,302,77.0,3.92,37,9.0,4.11,4.82%
2,Arnaldi,Matteo,167,31.0,5.39,98,10.0,9.80,81.92%
4,Atmane,Terence,28,4.0,7.00,25,2.0,12.50,78.57%
7,Albot,Radu,44,19.0,2.32,17,3.0,5.67,144.70%
8,Altmaier,Daniel,208,35.0,5.94,32,8.0,4.00,-32.69%
...,...,...,...,...,...,...,...,...,...
241,Watanuki,Yosuke,229,19.0,12.05,11,1.0,11.00,-8.73%
247,Zeppieri,Giulio,22,4.0,5.50,49,4.0,12.25,122.73%
248,Zverev,Alexander,613,80.0,7.66,147,14.0,10.50,37.03%
249,Zhang,Zhizhen,213,36.0,5.92,55,11.0,5.00,-15.49%
250,Zapata Miralles,Bernabe,73,41.0,1.78,10,7.0,1.43,-19.77%

In [15]:
final_df.to_html('output.html', index=False)